.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/*Header*/

.header {
  display: flex;
  align-items: center;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  margin: 0 auto;
}

.logo {
  width: 182px;
  height: 32px;
}

.logo_place_header {
  background-image: url(../images/logo_place_header.svg);
  position: absolute;
  top:30px;
  left:64px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.header__title {
  width: 730px;
  margin-left: 64px;
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
}
.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  color: #2f80ed;
}

.link {
  text-decoration: none;
}

.header__main-illustration {
  bottom: 0;
  right: 0;
  position: absolute;
  width: 765px;
  height: 608px;
  z-index: 1;
}

.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  top:64px;
  right:0;
  background-color: #2f80ed;
}

/*section description*/

.description {
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: #f2f2f2;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width:80%;
  margin: 0 auto;
}

.two-columns__brief {
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  width: 175px;
  margin-top: 0;
  margin-bottom: 0;
}

.two-columns__main-text {
  display: flex;
  font-weight: normal;
  flex-direction: column;
  min-width: 784px;
  width: 80%;
}

.two-columns__paragraph {
  margin-bottom: 30px;
  margin-top: 0;
  font-size: 24px;
  line-height: 34px;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}  

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bolder;
}

/*section digits*/

.digits {
  margin-top: 0;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f2f2f2;
}

.section-title {
  width:60%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 1.5;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  width: 60%;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  display: flex;
  flex-flow:row wrap;
  justify-content: space-between;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size:24px;
  font-weight: bold;
  margin-bottom:20px;
  margin-top:0;
}

.table__text {
  margin-top:20px;
  line-height:1.2;
  font-size:18px;
  font-weight: normal;
}

.table__text:last-child {
  margin-bottom: 0;
}

/*section feynman*/

.feynman {
  height: 890px;
  padding-top: 100px;
  margin: 0 auto;
  position: relative;
  background: no-repeat left bottom url(../images/feynman.png) #f2f2f2;
  background-size: 867px 637px;
  box-sizing: border-box;
}

.feynman__title {
  width:648px;
  margin: 0 auto 70px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;

}

.feynman__subtitle {
  margin: 0 auto;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
}

.feynman__link {
  position: absolute;
  height: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
}

/*section kaufman*/

.kaufman {
  background-color: #1f1f1f;
  color: #ffff;
  position: relative;
  padding-bottom: 90px;
  padding-top: 90px;
  overflow: hidden;
  
}

.section-title {
  margin-bottom: 20px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  margin: 0 auto;
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table__theme_dark {
  color: #ffff;
  z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark {
  margin-bottom:20px;
  margin-top:0;
}

.table__text_theme_dark {
  margin-top:20px;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  width: 877px;
  height: 877px;
  position: absolute;
  right:-210px;
  top: 0;
  background-size: 877px 877px;
}

/* section footer*/

.footer {
  display: flex;
  justify-content: center;
  min-height: 350px;
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #1f1f1f;
  color: white;
  box-sizing: border-box;
  
}

.footer__columns {
  width: 90%;
  display: flex;
  position: relative;
  justify-content: space-between;
}

.footer__column_content-copyright {
  flex-basis: 711px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
  display: flex;
  justify-content: flex-start;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.footer__author {
  margin-top: 18px;
  margin-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer__column_content-info {
  margin-left: auto;
  margin-right: auto;
}

.footer__column-heading {
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links ul {
  padding-left: 0;
  margin-bottom: 16px;
  margin-top: 0;
  line-height: 30px;
  font-size: 18px;
  list-style-type: none;
}

.footer__column-link {
  color: #ffff;
  
}

.footer__social-icon {
  background-size: contain;
  position: relative;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__column_content-social {
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}